* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.main__text {
    color: #F7D22D;
    font-size: 30px;
    font-weight: 800;
}